<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Node Gmail API</title>
</head>

<body>
    <h2 class="has-text-centered is-size-3">Node-Gmail API</h2>
    <div class="container is-justify-content-center">
        <ul>
            <li class="mb-4">
                <span>Home : <code>http://localhost:3000/</code> | Request type : <code>GET</code></span>
            </li>
            <li class="mb-4">
                <span>Authorization : <code>http://localhost:3000/auth</code> | Request type : <code>GET</code></span>
            </li>
            <li class="mb-4">
                <span>Authorization Status : <code>http://localhost:3000/status</code> | Request type : <code>GET</code></span>
            </li>
            <li class="mb-4">
                <span>Send Mail : <code>http://localhost:3000/send</code> | Request type : <code>POST</code> and <code>GET</code></span>
            </li>
        </ul>
    </div>
</body>

</html>